


h1{
    font-size: 100px;
    color: rgb(169, 39, 10);
}
h2{
    width: 500px;
    height: 500px;
background: url(https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f912.png);
}